@{
    ViewBag.Title = "Home Page";
}


@section styles {


}

<nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Filmlər</a></li>
        <li class="breadcrumb-item">filmin_adı</li>
    </ol>
</nav>

<div class="card mt-4" >
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-1">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Filmin çıxma tarixi</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Filmin müddəti</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Filmin linki</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Şəhərlərin adları</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Janrların adları</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </li>

    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@section scripts {
}